 

<div id="wrapper">
    <div class="main">
        <app-header></app-header>
        <app-sidebar></app-sidebar> 
     <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
            <!-- OVERVIEW -->
            <!-- END OVERVIEW -->
               <router-outlet></router-outlet>
            </div>
        </div>
    <!-- END MAIN CONTENT -->
   
    </div>
    <!-- END MAIN -->
    </div>    
    <!-- END WRAPPER -->
    <app-modal-upload></app-modal-upload>