<div class="row">
    <div class="col-md-12">
        <!-- PANEL HEADLINE -->
        <div *ngIf = "(producto_id != 'nuevo')" class="panel panel-headline">
            <div class="row">
                <div class="col-md-9">
                    <div class="panel-heading">
                        <h3 class="panel-title">Info de Producto</h3>
                        <p class="panel-subtitle"></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel-heading">
                        
                        <p class="panel-subtitle"><a routerLink="/productos">Ir a Productos +</a></p>
                    </div>
                </div>
            </div>
            <div  class="panel-body">
                <h4>Opciones de Actualización</h4>
                <p></p>
                <!-- <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar(f.value)" class="form p-t-20"> -->
                <form #f="ngForm" ngNativeValidate (ngSubmit)="guardar(f.value)" class="form p-t-20">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="exampleInputuname">Categoria</label>
                                
                                <select [(ngModel)]="producto.categoria" 
                                        name="categoria" 
                                        class="form-control">
                                        <option value="" disabled selected>Seleccione la categoria</option>
                                        
                                        <option *ngFor="let categoria of categorias" [value]=categoria._id>{{categoria.nombre}}</option>
                                       
                                 </select>

                              
                            </div>
                        </div>
                        <div class="col-md-4">
                            
                            <div class="form-group">
                                <label for="exampleInputuname">Código:</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-user"></i></div>
                                    <input [(ngModel)]="producto.codigo" name="codigo" type="text" class="form-control" placeholder="Código de Producto" required>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nombre de Producto:</label>
                                
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-user"></i></div>
                                    <input [(ngModel)]="producto.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre de Producto" required>
                                </div>

                               
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Precio</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-email"></i></div>
                                    <input [(ngModel)]="producto.precio"  name="precio" type="decimal" class="form-control"  placeholder="0.0" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Tipo de Producto:</label>
                                
                                <select [(ngModel)]="producto.tipo" name="tipo" class="form-control">
                                    <option value="PRODUCTO">PRODUCTO</option>
                                    <option value="SERVICIO">SERVICIO</option>
                                </select>

                               
                            </div>
                        </div>
                        <div class="col-md-4">
                            
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Guardar</button>
                   
                    
                </form>
            </div>
            
        </div>
        <!-- END PANEL HEADLINE -->

        <!-- PANEL HEADLINE -->
        <div *ngIf = "(producto_id === 'nuevo')" class="panel panel-headline">
            <div class="row">
                <div class="col-md-9">
                    <div class="panel-heading">
                        <h3 class="panel-title">Info del Producto</h3>
                        <p class="panel-subtitle"></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel-heading">
                        
                        <p class="panel-subtitle"><a routerLink="/ordenes">Ir a Productos +</a></p>
                    </div>
                </div>
            </div>
            <div  class="panel-body">
                <h4>Opciones de Inserción</h4>
                <p></p>
                <!-- <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar(f.value)" class="form p-t-20"> -->
                <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarNuevo(f.value)" class="form p-t-20">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="exampleInputuname">Categoria</label>
                                
                                <select [(ngModel)]="producto.categoria" 
                                        name="categoria" 
                                        class="form-control" placeholder="Seleccione Categoría">
                                        <option *ngFor="let categoria of categorias" [value]="categoria._id">{{categoria.nombre}}</option>
                       
                                 </select>
                                
                            </div>
                        </div>
                        <div class="col-md-4">
                            
                            <div class="form-group">
                                <label for="exampleInputuname">Código:</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-user"></i></div>
                                    <input [(ngModel)]="producto.codigo" name="codigo" type="text" class="form-control" placeholder="Código de Producto" required>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nombre de Producto:</label>
                                
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-user"></i></div>
                                    <input [(ngModel)]="producto.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre de Producto" required>
                                </div>

                               
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Precio</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-email"></i></div>
                                    <input [(ngModel)]="producto.precio"  name="precio" type="decimal" class="form-control"  placeholder="0.0" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Tipo de Producto:</label>
                                
                                <select [(ngModel)]="producto.tipo" name="tipo" class="form-control">
                                    <option value="PRODUCTO">PRODUCTO</option>
                                    <option value="SERVICIO">SERVICIO</option>
                                </select>

                               
                            </div>
                        </div>
                        <div class="col-md-4">
                            
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Guardar</button>
                   
                    
                </form>
            </div>
            
        </div>
        <!-- END PANEL HEADLINE -->
    </div>
    


</div>
