<div class="row">
    <div class="col-md-12">
      <!-- TABLE HOVER -->
      <div class="panel">
        
        <div class="row">
            <div class="col-md-9">
                <div class="panel-heading">
                    <h3 class="panel-title">Listado de Productos</h3>
                </div>
            </div>
            <div class="col-md-3">
                <br>
                    <button [routerLink]="['/producto','nuevo']" type="button" class="btn btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-plus"></i>
                        Crear Producto</button>
            </div>    
        </div> 
        
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th>Tipo</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productos; let i = index">
                        <td class="w70">
                            {{ i +1 }}
                        </td>
                        <td>{{ producto.codigo}}</td>
                        <td>{{ producto.nombre}}</td>
                        <td>{{ producto.categoria.nombre}}</td>  
                        <td>{{ producto.tipo}}</td>
                        <td>{{ producto.precio}}</td>    
                        <td>
                            <button [routerLink]="['/producto', producto._id]" class="btn btn-primary">
                                <i class="fa fa-save"></i>
                            </button>
                        
                            <button (click)="borrarProducto(producto)" class="btn btn-danger">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                    
                </tbody>
            </table>

            <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
                Anteriores
            </button>
            <button (click)="cambiarDesde(5)" class="btn btn-secondary">
                Siguientes
            </button>
            <div class="left">
                
            </div>
            <div class="right">
               
            </div>
            
           
            
        </div>
    </div>
    <!-- END TABLE HOVER -->
    </div>
    
</div>
