<!-- WRAPPER -->
<div id="wrapper">
    <div class="vertical-align-wrap">
        <div class="vertical-align-middle">
            <div class="auth-box ">
                <div class="left">
                    <div class="content">
                        <div class="header">
                            <div class="logo text-center"><img src="assets/img/logo-dark.png" alt="Klorofil Logo"></div>
                            <p class="lead">Login to your account</p>
                        </div>
                        <form ngNativeValidate #f="ngForm" class="form-auth-small" (ngSubmit)="ingresar(f)">
                            <div class="form-group">
                                <label for="signin-email" class="control-label sr-only">Email</label>
                                <input [ngModel]="email" name="email" type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="signin-password" class="control-label sr-only">Password</label>
                                <input [ngModel]="password" name="password" type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group clearfix">
                                <label class="fancy-checkbox element-left">
                                    <input [(ngModel)]="recuerdame" name="recuerdame" type="checkbox">
                                    <span>Recordar</span>
                                </label>
                            </div>
                            <button class="btn btn-primary btn-lg btn-block" type="submit">LOGIN</button>
                            
                            <div class="bottom">
                                <span class="helper-text"><i class="fa fa-lock"></i> <a href="#">Olvido la Contraseña?</a></span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="right">
                    <div class="overlay"></div>
                    <div class="content text">
                        <h1 class="heading">Sistema de Administración de Productos y Servicios</h1>
                        <p> GEOINN</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- END WRAPPER -->
 