<div class="row">
    <div class="col-md-12">
      <!-- TABLE HOVER -->
      <div class="panel">
        <div class="row">
            <div class="col-md-8">
                <div class="panel-heading">
                    <h3 class="panel-title">Listado de Categorias</h3>
                </div>
            </div>
            <div class="col-md-4">
                <br>
                    <button (click)="crearCategoria()" type="button" class="btn btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-plus"></i>
                        Crear Categoría</button>
            </div>    
        </div> 






        
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let categoria of categorias; let i = index">
                        <td class="w70">
                            {{ i +1 }}
                        </td>

                        
                        <td>
                            
                            <input [(ngModel)]="categoria.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre de la Categoria">
                            
                        </td>
                                              
                        <td>
                            <button (click)="guardarCategoria(categoria)" class="btn btn-primary">
                                <i class="fa fa-save"></i>
                            </button>
                        
                            <button (click)="borrarCategoria(categoria)" class="btn btn-danger">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                    
                </tbody>
            </table>

            <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
                Anteriores
            </button>
            <button (click)="cambiarDesde(5)" class="btn btn-secondary">
                Siguientes
            </button>
            <div class="left">
                
            </div>
            <div class="right">
               
            </div>
            
           
            
        </div>
    </div>
    <!-- END TABLE HOVER -->
    </div>
    
</div>
