<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li><a [routerLink]="['/dashboard']" routerLinkActive="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                <li><a [routerLink]="['/categorias']" routerLinkActive="active"><i class="lnr lnr-list"></i> <span>Categorias</span></a></li>
                <li><a [routerLink]="['/productos']" routerLinkActive="active"><i class="lnr lnr-list"></i> <span>Productos</span></a></li>
                <li><a [routerLink]="['/clientes']" routerLinkActive="active"><i class="lnr lnr-list"></i> <span>Clientes</span></a></li>
                <li><a [routerLink]="['/ordenes']" routerLinkActive="active"><i class="lnr lnr-list"></i> <span>Ordenes</span></a></li>
                
                <li><a routerLink="" class=""><i class="lnr lnr-list"></i> <span>Facturas</span></a></li>
                <li><a routerLink="" class=""><i class="lnr lnr-list"></i> <span>Reparaciones</span></a></li>
                <li><a routerLink="" class=""><i class="lnr lnr-list"></i> <span>Garantías</span></a></li>
                <li>
                    <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-users"></i> <span>Usuarios</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="subPages" class="collapse ">
                        <ul class="nav">
                            <li><a [routerLink]="['/usuarios']" routerLinkActive="active"><i class="lnr lnr-users"></i>Lista de Usuarios</a></li>
                            <!-- <li><a [routerLink]="['/usuario/id']" routerLinkActive="active"><i class="lnr lnr-user"></i>Agregar Usuario</a></li> -->
                            
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- END LEFT SIDEBAR -->
