<!-- WRAPPER -->
<div id="wrapper">
    <div class="vertical-align-wrap">
        <div class="vertical-align-middle">
            <div class="auth-box ">
                <div class="left">
                    <div class="content">
                        <div class="header">
                            <div class="logo text-center"><img src="assets/img/logo-dark.png" alt="Klorofil Logo"></div>
                            <p class="lead">Registrese Aquí</p>
                        </div>
                        <form ngNativeValidate [formGroup]="forma" (ngSubmit)="registrarUsuario()" class="form-auth-small" >
                            <div class="form-group">
                                <label for="signin-nombre" class="control-label sr-only">Nombre</label>
                                <input formControlName="nombre" name="nombre" type="text" class="form-control" placeholder="Nombre">
                            </div>
                            <div class="form-group">
                                <label for="signin-email" class="control-label sr-only">Email</label>
                                <input formControlName="correo" name="correo" type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="signin-password" class="control-label sr-only">Password</label>
                                <input formControlName="password" name="password"  type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="signin-password" class="control-label sr-only">Confirm Password</label>
                                <input formControlName="password2" name="password2" type="password" class="form-control" placeholder="Confirm Password">
                            </div>
                            
                            <div class="form-group">
                                <p class="text-danger" *ngIf="forma.errors?.sonIguales && !forma.pristine">
                                    Las contraseñas deben ser iguales
                                </p>
                                
                            </div>
                            <div class="form-group clearfix">
                                <label class="fancy-checkbox element-left">
                                    <input formControlName="condiciones" name="condiciones" type="checkbox">
                                    <span>Estoy de acuerdo con los <a href="#">Términos</a></span>
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">REGISTRESE</button>
                            <div class="bottom">
                                <p>Ya tiene una cuenta? <a routerLink="/login" class=""><b>ir a Login Cuenta</b></a></p>
                            </div>
                            

                        </form>
                    </div>
                </div>
                <div class="right">
                    <div class="overlay"></div>
                    <div class="content text">
                        <h1 class="heading">Sistema de Administración de Productos y Servicios</h1>
                        <p> GEOINN</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- END WRAPPER -->
